
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    
    <link rel="stylesheet" href="/static/style/style.css">
    
  </head>
  <body>
    
    <header >
        <div class="head">
            <h2>REQEXT</h2>
                
        </div>
        <nav class="nav-a">
            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#Gallery">About</a></li>
                <li><a href="#Contact">Contact</a></li>
            </ul>

        </nav>
    
        
    </header>

        <main>
        
            <div class="wrapper1">
                <h1> COHORT ANALYSIS (RETENTION RATE)</h1>
                

            </div>
            <div class="wrapper2">
                <h3>Table of Contents</h3>
                <nav>
                    <ol>
                        <li>Introduction</li>
                        <li>Problem Statement</li>
                        <li>Data source and loading</li>
                        <li>Data cleaning</li>
                        <li>Cohort analysis (retention rate) using mysql server</li>
                        <li>Visualization using tableau and Insights</li>
                    </ol>
                </nav>
            </div>
            <div class="wrapper3">
                 <h2 class="fir">INTRODUCTION</h2>
                 <h3>What is cohort analysis?</h3>
                 <p>Cohort analysis is a type of behavioral analytics in which you take a group of users, and analyze their usage patterns based on their shared traits to better track and understand their actions. A cohort is simply a group of people with shared characteristics.</p>
                 <p>Cohort analysis allows you to ask more specific, targeted questions and make informed product decisions that will reduce churn and drastically increase revenue. You could also call it customer churn analysis.</p>
                 <h3>Types of cohort analysis</h3>
                 <h4>The 2 most common types of cohorts are:</h4>
                 <p>Acquisition cohorts: Groups divided based on when they signed up for your product. Typically, the shared characteristics of this group of users offers an opportunity to measure retention and churn rates within a specific timeframe. </p>
                 <p>Behavioral cohorts: Groups divided based on their behaviors and actions in your product. This type allows you to view your active users in different demographics and with different behavioral patterns.</p>
            </div>
            <div class="wrapper4">
                <h2>PROBLEM STATEMENT:</h2>
                <p>To determine the retention rate of customers in an online retail store.</p>
            </div>
            <div class="wrapper5">
                <h2>DATA SOURCE AND LOADING:</h2>
                <p>The data source is UCI Machine Learning Repository and the dataset named “online retail store”. After downloading the data, I loaded it into microsoft sql server through SQL Server Integration Services. A data integration, transformation and migration tool used to extract, transform and load data.</p>
            </div>
            <div class="wrapper6">
                <h2>DATA CLEANING:</h2>
                <p>Data cleaning was done in microsoft sql server and it involved removing rows with customer ID equals to zero. Since this is a unique number given to every customer, zero values means null values. Secondly, I removed the rows where the values of price and quantity are negative. Negative values could mean product returns, error while entering e.t.c. Thirdly, I checked for duplicate entries and dropped the rows. The cleaned data was selected into a temp table.</p>

            </div>
            <div class="wrapper7">
                <h2>COHORT ANALYSIS(RETENTION RATE): </h2>
                <p>To perform cohort analysis, I created a cohort using customer ID as the unique identifier, first invoice date as initial start date and revenue data. I used DATAFROMPARTS function to extract the year and month from the invoice date according the customer’s first purchase. To calculate the cohort index, which is the integer representation of the months since the customer’s first purchase, I used this formula;</p>
                <p class="cal">cohort index = year difference * 12 + month difference + 1
                year difference = cohort year(first year of purchase) – invoice year(whenever the customer revisited)</p>
                <p class="cal2">month difference = cohort month(first year of purchase) – invoice month(whenever the customer revisited)</p>
                <p>check my github to see the sql query, <a href="https://github.com/joelmeelow/Cohort-Analysis/tree/main">click here</a></p>
            </div>
                
            <div class="wrapper8">
                <h2>Visualization using tableau and Insights</h2>
                <div class="imgclass">
                    <img  class="img3" src="/static/image ret/Dashboard 3.png" alt="graph" width="850" height="400" >
                </div>
                <p class="sec">The first sheet in the dashboard titled “Number of new customer by month” shows decline in the number of of new customer from December of 2010. There was slight increase in March of 2011 and between September and November of 2011, but the decline continued in December of 2011.</p>
              
                <p class="sec2">The second sheet titled “Customer retention rate by cohort groups” shows that the cohort group created in December, 2010 returned through the months more than the other cohort groups. It also shows that the percentage of customers that returned in the other cohort groups is between 1 and 6% of the cohort groups with the percentage decreasing with the cohort date</p>
                <div class="imgclass2">
                    <img class="img4" src="/static/image ret/Dashboard 2 sq.png" alt="graph" width="850" height="400" >
                    <p class="sec3">This dashboard shows overview of the cohort period and cohort index i.e the number of months from the first purchase.</p>
                </div>
            </div>
            
        
        </main>
        <footer>
            <div class="wrapper">
                <nav>
                    <ul>
                        <li><a herf="#teitter">Contact</a></li>
                        <li><a herf="#teitter"><img src="" alt=""></a></li>
                        <li><a herf="#teitter"><img src="" alt=""></a></li>
                        <li><a herf="#teitter"><img src="" alt=""></a></li>
                    </ul>
                </nav>
                
            </div>
        </footer>
       

  </body>
</html>
